# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
packages/nupengl.core.redist.0.1.0.1/build/native/bin/Win32/visualinfo.exe
*.exe
*.ilk
*.sln
*.nupkg
*.targets
packages/nupengl.core.redist.0.1.0.1/build/native/default-propertiesui.xml
*.autopkg
*.filters
OpenGLTest/OpenGLTest.vcxproj
*.pdb
OpenGLTest/packages.config
packages/nupengl.core.0.1.0.1/build/publisher-info.txt
packages/nupengl.core.redist.0.1.0.1/build/publisher-info.txt
*.db
OpenGLTest.VC.VC.opendb
*.obj
OpenGLTest/Debug/OpenGLTest.tlog/CL.command.1.tlog
*.tlog
OpenGLTest/Debug/vc140.idb
*.suo
